.file-view{
	width: 100%;
	height: 100%;
	.file-view-warn{
			padding-top: 40px;
			font-size: 14px;
			color: #666;
			text-align: center;
	}
	.pdf-canvas{
		 text-align: center;
	}
 }
 